
.new-post-button{
  padding: 16px;
  margin: auto;
  text-align: right;
}

#comments-row{
  padding: 2px;
  border: antiquewhite;
  border-color: rgb(179, 176, 173);
  background-color: rgb(241, 241, 241);
  border-radius: 4px;
}

#comment-button{
  padding: 12px;
  margin: auto;
  text-align: center;
}

a:link, a:visited {
  border-color: rgb(179, 176, 173);
  background-color: rgb(241, 241, 241);
  border-radius: 4px;
  color: black;
  border: 2px solid rgb(11, 84, 151);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(11, 84, 151);
  color: white;
}

.row{
  padding: 15px 
}

#user-post{
  border: 2px solid rgba(133, 161, 187, 0.349);
  text-align: center;
}