.welcome-message {
  color: black;
  font-family: Andale Mono, monospace;
  word-spacing: -10px;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 10px;
}

.feed-background {
  background-color: #ADE8F4;
}

.new-post {
  font-family: Andale Mono, monospace;
  padding: 16px;
  margin: auto;
  text-align: left;
  color: #1b4965;
}

#comments-row {
  padding: 2px;
  border: antiquewhite;
  border-color: rgb(179, 176, 173);
  background-color: rgb(211, 210, 210);
  border-radius: 4px;
}

#comment-button {
  padding: 12px;
  margin: auto;
  text-align: center;
}

a:link,
a:visited {
  border-color: rgb(179, 176, 173);
  background-color: rgb(241, 241, 241);
  border-radius: 4px;
  color: black;

  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: rgb(211, 210, 210);
  color: black;
}

.row {
  flex: auto;
  padding: 15px;

  border-radius: 4px;
}

#user-post {
  border: 2px solid rgba(133, 161, 187, 0.349);
  text-align: center;
}

.emoji-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
}

.emoji_horizontal {
  transition: transform 0.2s;
  width: 100%;
}

.reacts {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1.5em;
  transition: transform 0.2s;
}

.emoji-fire,
.likes-counter {
  display: inline-block;
}

.button_to {
  width: 50%;
}

.space-div {
  width: 100%;
  padding: 15px;
}
