// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: rgb(221, 221, 221);
  text-align : center;
}

h1 {
  padding : 16px;

}

 input[type=submit]{
  background-color: #3318c7;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: #5648a5;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}