// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.homepage-background {
  background-image: url(https://images.unsplash.com/photo-1538947151057-dfe933d688d1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGJsdWV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  background-size: cover;
}

div {
  text-align: center;
}

h1 {
  color: whitesmoke;
  font-family: Andale Mono, monospace;
  word-spacing: -10px;
  font-size: 100px;
  font-weight: bold;
  padding-bottom: 10px;
}

input[type="submit"] {
  background-color: #1b4965;
  font-family: Andale Mono, monospace;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0c4fb4;
  font-family: Andale Mono, monospace;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
