.post-form {
  text-align : center;
}

.new-post-background {
  background-color: #ADE8F4;
}

h1{
  text-align : center;
  color: black;
}

.post-message {
  padding : 16px;
  margin-left :auto;
  margin-right:auto;
  font-family: Andale Mono, monospace;
}

.post-message-image {
  color: black;
  font-weight: bold;
  font-family: Andale Mono, monospace;
  padding : 16px;
  margin-left :auto;
  margin-right:auto;
  width: 300px;
  height: 60px;
}

.post-message-file-upload{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align : center;
}

.text_field{
  width: 50%;
  padding: 50px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


h5{
  text-align : center;
  font-family: Andale Mono, monospace;
  margin: auto;
  padding: 10px;
}